
/* navbar */
.navbar-brand {
  font-size: 24px;
  color: white;
}

/* Hero-Section */
#Hero-Section {
  height: 100vh;/* 100% de viewport */
  background-image: url("../img/carousel1.jpg");
  background-position: center;
  background-size:cover;/* proporcional */
  background-repeat: no-repeat;
  position: relative;
}

.presentacion {
  background-color: black;
}

/* Quienes-somos*/
#Q-somos {
  height: 100vh;/* 100% de viewport */
}

#Q-somos hr {
  height: 3px;
  color: #17a2b8;
}
